name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - master
    paths:
      - "frontend/**"
      - "functions/**"
      - "database.default.rules.json"
      - "database.live.rules.json"
      - "firestore.rules"
      - "firebase.json"
      - ".firebaserc"
jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci && npm run build
        working-directory: ./frontend
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_WAITLIST_WATCHER }}'
          projectId: waitlist-watcher
          channelId: live
          entrypoint: ./frontend/
      - name: Deploy Firebase Functions
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only functions
        env:
          GCP_SA_KEY: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_WAITLIST_WATCHER }}'
      - name: Deploy Firebase RTDB Rules
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only database:default-rtdb,database:live-stream-rtdb
        env:
          GCP_SA_KEY: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_WAITLIST_WATCHER }}'
      - name: Deploy Firestore Rules
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only firestore:rules
        env:
          GCP_SA_KEY: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_WAITLIST_WATCHER }}'
